<div class="col-12 "> 
        <div class="d-flex justify-content-center col-12">
            <h1>WebApp y API stack MEAN</h1>
        </div>
        <div class="d-flex" >
            <div class="d-flex justify-content-center col-6">
                <img src="assets/img/mean.png" />
                
            </div>
            <div class="d-flex justify-content-center col-6">
                <div classç="col-12">
                    Esta es una aplicación Web realizaba sobre el stack de tecnologías MEAN,
                    consiste en un desarrollo NodeJs sobre el framework Angular que consume una API Express contra 
                    una base de datos MongoDB, esta aplicación soporta: 
                    <br/><br/>
                    <ul> 
                        <li>Funcionalidades CRUD</li>
                        <li>Login de usuario con JWT</li>
                        <li>Proteccion de rutas</li>
                        <li>Datatables con ordenacion, búsqueda y paginación de registros en una tabla</li>
                        <li>Validaciones contra la API customizadas</li>
                        <li>Tecnologías de front-end como Bootstrap y Jquery</li>
                    </ul>
               </div>
            </div>
    </div>
</div>
